.body {
    background-color: #000;
}

.main-header, .parallax {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
    color: #fff;
    font-size: 25px;

    /* The image used */
    background-image: url(../images/los-angeles-night.jpg);

    /* Full height */
    height: 100%;
    height: 704px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.results-header {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
    color: #fff;
    font-size: 25px;

    /* image */
    background-image: url(../images/los-angeles-night.jpg);

    /* Full height */
    height: 80%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.main-header, .results-header h1{
    font-weight: 400;
    font-size: 100px;
}

.main-header form {
    padding-top: 30px;
}

.search-content {
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
    font-size: 25px;
    height: 500px;
}

button {
    background-color: #000;
    color: #fff;
}

.results-content {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #000;
    font-size: 25px;
    height: 500px;
}

.results-bar {
    height: 50px;
    background-color: #000;
    color: #fff;
    padding: 5px;


}
