html {
    background-image: url(../images/los-angeles-day.jpg);
    background-repeat: no-repeat; 
    background-position:fixed; 
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100%;
    /* padding: 50px; */
    background-color: #1d1d1d
}

.container-nav {
    padding: 50px;
}

body {
    background-color: transparent;
}
.navbar {
    /* overflow: hidden; */
    /* position: fixed; */
}
.navbar-brand {
    margin-left: 70px;
    padding-right: 80px
}


.container-options {
    display: flex;
    justify-content: center;
}


.container-discover {
    font-size: 200%;
    margin-top: 550px;

    display: flex;
    justify-content: center;
    color: #faf6f6;
}


/* __________________________________________________________ */
.wrap-cont-register{
    height: 650px;
    margin-top: 500px;
    background-image: url(../images/los-angeles-view.jpg);
    background-repeat: no-repeat; 
    background-position:fixed; 
    background-size: cover; 
    background-repeat: no-repeat; 
}

.container-register {
    display: flex;
    justify-content: center;
}

.register {
    width: 300px;
    margin-top: 40px;
}

.title-register {
    color: white;
    font-size: 230%;
    text-align: center;

    padding-top: 50px;
}

.container-submit-message {
    display: flex;
    justify-content: center;
    height: 150px;
}

.submit-message {
    width: 550px;
    height: 200px;
    margin-top: 40px;
}

.yourMessage {
    height: 120px;
}

.contact-register {
    margin-top: 40px;
}

.submit {
    background-color: #02f3d3;
    border: none;
    color: #2502c2;
    margin-top: 20px;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

/* __________________________________________________________ */



.container-company-info {
    background-color: #2e2d2d;
    color: white;
    height: 240px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}

.company-info {
    width: 20%;
    height: 240px;
    background-color: #2e2d2d;
    margin: auto;
    align-self: center; 
}

.Eguide {
    background-color: #0c0c0cab;
    width: 25%;
}

/* footer {
    background-color: lightseagreen;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
} */