* {
    font-family: sans-serif, 'Roboto', helvetica, arial;
}

.body {
    background-color: #000;
    font-family: sans-serif;
}

p {
    font-family:sans-serif, 'Roboto', helvetica, arial;
}

input {
    font-family: sans-serif, 'Roboto', helvetica, arial;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.main-header, .parallax {
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    color: #fff;
    font-size: 25px;

    /* The image used */
    background-image: url(../images/los-angeles-night.jpg);

    /* Full height */
    height: 100%; 
    height: 702px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-secondary{
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    color: #fff;
    font-size: 25px;

    /* The image used */
    background-image: url(../images/los-angeles-night.jpg);

    /* Full height */
    height: 100%;
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.htmlMusic {
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    color: #fff;
    font-size: 25px;

    /* The image used */
    background-image: url(../images/music-tomorrowland.jpg);

    /* Full height */
    height: 100%; 
    height: 702px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.htmlSports {
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    color: #fff;
    font-size: 25px;

    /* The image used */
    background-image: url(../images/sports-soccer-stadium.jpg);

    /* Full height */
    height: 100%; 
    height: 702px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.htmlOutdoors {
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    color: #fff;
    font-size: 25px;

    /* The image used */
    background-image: url(../images/outdoors-fox-view.jpg);

    /* Full height */
    height: 100%; 
    height: 702px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header h1{
    font-weight: 400;
    font-size: 100px;
    font-family: sans-serif, 'Roboto', helvetica, arial;
}

.main-header form {
    padding-top: 30px;
}

.search-content {
    height: 500px;
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif, 'Roboto', helvetica, arial;
}

button {
    background-color: #000;
    color: #fff;
    font-family: sans-serif, 'Roboto', helvetica, arial;
}

.navbar {
    background-color: #000;
    font-family: sans-serif, 'Roboto', helvetica, arial;
}

.locationSearchBar {
    margin-top: -110px;
}

.currentLocationDisplay {
    text-align: center;
    margin-top: 25px;
    margin-right: 30px;
}

.container-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px; 
}

.options {
    display: flex;
    justify-content: space-around;
}

.buttonMovies {
    margin-right: 30px;
    margin-left: 30px;
    width: 130px;
    height: 100px;

}
.buttonMusic {
    margin-right: 30px;
    margin-left: 30px;
    width: 130px;
    height: 100px;
}
.buttonSports {
    margin-right: 30px;
    margin-left: 30px;
    width: 130px;
    height: 100px;
}
.buttonOutdoors {
    margin-right: 30px;
    margin-left: 30px;
    width: 130px;
    height: 100px;
}

.results-movie-header {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif, 'Roboto', helvetica, arial;

    /* image */
    background-image: url(../images/movies-montage.jpg);

    /* Full height */
    height: 80%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.results-music-header {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif, 'Roboto', helvetica, arial;

    /* image */
    background-image: url(../images/music-tomorrowland.jpg);

    /* Full height */
    height: 80%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.results-sports-header {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif, 'Roboto', helvetica, arial;

    /* image */
    background-image: url(../images/sports-soccer-stadium.jpg);

    /* Full height */
    height: 80%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.results-outdoors-header {
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
    color: #fff;
    font-size: 25px;

    /* image */
    background-image: url(../images/outdoors-fox-view.jpg);

    /* Full height */
    height: 80%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.results-content {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #000;
    font-size: 25px;
    height: 500px;
}

.results-bar {
    height: 50px;
    background-color: #000;
    color: #fff;
    padding: 5px;

}


#searchEvents {
    background-color: #fff;
    opacity: 0.85;
    color: #000;
    height: 50px;
    width: 300px;
    border: none;
    font-size: 25px;
}
.glyphicon-search {
    font-size: 30px;
    text-align: center;
    color: #fff;
}

#cityLinks {
    padding-bottom: 20px;
}

#cityLinks a{
    color: #fff;
    font-size: 18px;
}

#cityLinks a:hover {
    text-decoration: none;
}